.adminLayout {
  display: flex;
}

.adminContent {
  margin-left: 200px; 
  padding: 20px;
  flex-grow: 1;  

  
}

.adminContent h2 {
  margin-top: 100px; 
  text-align: center;  
  margin-left: 150px; 
  width: calc(100% - 280px);
}