/* Estilos generales para la página About */
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 10px;
}

p {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.founder {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.founderImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.founderInfo {
  max-width: 700px; /* Aumentamos el max-width para ensanchar el texto */
  width: 100%;
}

strong {
  font-size: 1.2rem;
  color: #201a5e;
}

.founders p {
  font-size: 1rem;
  color: #555;
}

.companyInfo, .founders, .partners {
  margin-bottom: 30px;
}

.companyInfo p, .partners p {
  font-size: 1.2rem;
  color: #666;
  text-align: justify;
}
