/* Centrar todo el contenido en la página */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
  }
  
  /* Centrando el contenido de la sección */
  .profileSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
  }
  
  /* Estilos para los botones de acción */
  button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #201a5e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #404a81;
  }
  
  /* Estilos del formulario */
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    text-align: left;
  }
  
  /* Estilo para las columnas del formulario */
  form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Asegura que el formulario se vea bien en dispositivos pequeños */
  @media (max-width: 768px) {
    form {
      grid-template-columns: 1fr;
    }
  }
  
  /* Centrar el botón al final del formulario */
 .formFooter {
  display: flex;
  justify-content: center;
  grid-column: span 2; /* Hace que el contenedor ocupe ambas columnas del grid */
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
}